<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}} - {{ version }}</title>
    {% else %}
    <title>第三方推送系统集合</title>
    {% endif %}

    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootswatch.less" media="screen">
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootswatch.less">
</head>
<body>

<h2>为解决多种手机终端推送时，使用单一推送到达率较低的问题。</h2>
<h3>Current version is {{ version }}</h3>
<div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/push/list_all" target="_blank">推送队列</a>
        </li>
        <li>
            <a href="/tools" target="_blank">推送测试工具</a>
        </li>
    </ul>
</div>
</body>
</html>