{% extends 'base.html' %}
{% block css%}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
{% endblock %}

{% block content%}
<h1>推送队列</h1>
<br/>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>序号</th>
        <th>终端ID</th>
        <th>目标</th>
        <th>标题</th>
        <th>内容</th>
        <th>创建时间</th>
        <th>发送时间</th>
    </tr>
    </thead>

    <tbody>
    {% for item in result %}
    
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.target }}</td>
        <td>{{ item.pushType }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.content }}</td>
        <td>{{ item.createTime }}</td>
        <td>{{ item.sendTime }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div style="width:300px;">
    <table class="table">
        <tr>
            <td><a href="?pageSize=10&page=0">首页</a></td>
            <td><a href="?pageSize=10&page={{ prevPage }}">上一页</a></td>
            <td><a href="?pageSize=10&page={{ nextPage }}">下一页</a></td>
        </tr>
    </table>
</div>
{% endblock%}